#cover {
    background: url("/static/img/header.jpg") center center no-repeat;
    background-size: cover; 
    height: 75%;
    text-align: center;
    align-items: center;
    position: relative;
}
#cover::before {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cover .container{
    height: 80vh;
    z-index: 1;
    position: relative;
}

#cover .article {
    /* word-wrap: break-word; */
    overflow:hidden;
}
.fas, .fa, .far {
    font-size: 2em;
    color: #15aabf;
}
/* .carousel-item image {
    width: 50;
    height: auto;
}
.carousel-caption {
    width: 100%;
    background: #15abbf5a;
    left: inherit;
    right: inherit;
}
.carousel-indicators {
    padding-bottom: 1rem;
} */

#program {
    position:relative;
    display:block;
}

#card{
    width: 60%;
}

.country-img{
    height: 80%;
}