{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <title>InsTrip</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/country.css' %}">
</head>

<body>
    <!-- navigation -->
    <nav id="navMin" class="navbar navbar-dark bg-dark shadow navbar-expand-md sticky-top ps-2 pe-2">
        <div class="container-fluid">
            <a href="#" class="navbar-brand text-info fas fa-fish"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/instrip/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">API doc</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Admin</a></li>
                </ul>
            </div>
            <!-- <div class="navbar-text mx-lg-3">
                <a href="#" class="btn btn-info text-white shadow">Sign up</a>
            </div> -->
        </div>
    </nav>

    
    <header id="cover" class="bg-img" style="background: url('/static/img/{{ country_name }}.jpg') center center no-repeat;">
        <div class="container p-4 d-flex">
            <div class="row align-items-center">
                <article class="article">
                    <h1 class="display-2 text-white" ><strong>{{ country_name_ch }}</strong></h1>  
                    <h2 class="text-white">熱門旅遊城市推薦</h2>
                </article> 
            </div>

        </div>
    </header>

    <!-- city -->
    <section id="city">
        <div class="container my-4">
            <h2 class="d-inline-block">人氣 Top 5</h2>
            <p class="text-muted mb-5">探索 Instagram 最受歡迎的旅遊城市與打卡地點</p>
            {% for city in top_city %}
            <!-- start event block -->
            <div class="city-row row align-items-center event-block no-gutters margin-40px-bottom">
                <div class="col-lg-4 col-sm-12">
                    <div class="position-relative">
                        <img class="img-fluid" src="{{ city.2 }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                        <p>{{ forloop.counter }}.</p>
                        <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">{{ city.1 }} {{ city.0 }}</h5>
                        <p>{{ city.3 }}....</p>
                        <div class="mt-2">
                            <!-- <h6>特色</h6> -->
                            <!-- <ul class="great-for margin-10px-bottom md-margin-5px-bottom">
                                <li><span class="badge bg-secondary">New</span></li>
                                <li><span class="badge bg-secondary">New</span></li>
                                <li><span class="badge bg-secondary">New</span></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <a href="{% url 'city' city_name=city.0 %}" class="stretched-link"></a>
            </div>
            <!-- end event block -->
            {% endfor %}

           
        </div>
    </section>

</body>